{% extends 'base.html' %}

{% block title %}
18 век
{% endblock %}

{% block body %}

<div class="wrapper custom-post-tpl" id="page-wrapper">

	<div class="container">
		<div class="row">
			<div class="col-12">
						<div class="row">
			<div class="col-12">
				<p id="breadcrumbs" class="breadcrumbs"><span><span><a href="/">Главная страница</a> » <span class="breadcrumb_last" aria-current="page">Предложить изменения</span></span></span></p></div>
		</div>
			</div>
		</div>
	</div>

	<div class="container section-title">
		<div class="row">
				<div class="intro">
					<p>Цель проекта - популяризация знаний о вкладе женщин в изобразительное искусство.</p>
                    <p>Любой вклад - корректировка имеющейся информации, ее дополнение, предложения о модернизации проекта - важен.</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container section-content">
		<div class="row">
			<div class="col-12">
					<p>Вы всегда можете связаться с нами по почте - <a href="mailto:female.artists.project@gmail.com"> female.artists.project@gmail.com</a></p>
				<div class="row pictures">
					<div class="col-12 col-sm-6 col-md-4 col-item">
						</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/kitty.png" width="100%">
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
					</div>
{% endblock %}