{% extends 'base.html' %}

{% block title %}
19 век
{% endblock %}

{% block body %}

<div class="wrapper custom-post-tpl" id="page-wrapper">

	<div class="container">
		<div class="row">
			<div class="col-12">
						<div class="row">
			<div class="col-12">
				<p id="breadcrumbs" class="breadcrumbs"><span><span><a href="/">Главная страница</a> » <span class="breadcrumb_last" aria-current="page">6 художниц XIX века</span></span></span></p></div>
		</div>
			</div>
		</div>
	</div>

	<div class="container section-title">
		<div class="row">
				<div class="intro">
					<p>6 ХУДОЖНИЦ XIX ВЕКА</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container section-content">
		<div class="row">
			<div class="col-12">

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p>Мари Бракемон</p>
					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>

<p>Мари Бракемон принадлежала к рабочему классу, и возможности изучать искусство в высших школах у нее не было. Мари училась самостоятельно. Ее первая работа — портрет матери, которую Бракемон нарисовала с помощью самодельных красок из цветов. Один из друзей семьи, узнав, что она талантливо рисует, купил ей набор акварельных красок.
Дисциплинированность Мари отражалась и на ее стиле. С другой стороны — ее работы напоминали стиль Жана Огюста Доминика Энгра, у которого она иногда обучалась. К сожалению, с Энгром пришлось попрощаться, поскольку он «сомневался в мужестве и настойчивости женщины в области живописи».</p>
<p>Бракемон — представительница импрессионизма. Она часто изображала свою сестру Луизу, сцены из парков, садов и публичных мест, в которых женщинам предоставлялась свобода передвижения.
История Мари достаточно трагична. Она была невероятно талантливой, многообещающей художницей, но вышла замуж за человека, который обесценивал ее одаренность. Карьера Бракемон была не особо успешной, в отличие от других художников, которые получали поддержку от своих семей. Ее последняя выставка прошла на заключительном показе импрессионистов в 1886 году, после чего она покончила с художественной карьерой.</p>
				<div class="row pictures">

					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art31.jpg" width="100%">
						<p>«Пьер и его тетя Луиза в саду»</p>
						<p>1886</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art32.jpg" width="100%">
						<p>«На террасе в Севре»</p>
						<p>1880</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art33.jpg" width="100%">
						<p>«Три женщины с зонтиками»</p>
						<p>1880</p>
					</div>
				</div>

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p> Мария Башкирцева </p>

					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>

				<p>Мария Башкирцева родилась в Украине, в семье богатых дворян. У них была возможность переехать в Париж и отправить дочь в Академию Жюлиана. Мария училась там с 1877 по 1884 год. Изначально она хотела заниматься пением, но не смогла этого сделать из-за туберкулеза, который в конечном счете забрал ее жизнь.</p>
<p>В 1880 году Башкирцева написала картину, ставшую широко известной в Академии. На ней изображены художницы, пишущие с натуры.
	Работы Марии Башкирцевой выставлялись в Парижском салоне в 1880-х годах, завоевав почетное упоминание в 1883 году. После смерти в возрасте 25 лет, Мария стала известной благодаря посмертно опубликованному дневнику, который она начала вести, когда ей было двенадцать.</p>
<p>В своем дневнике она выразила мнение по поводу обстоятельств, в которых находилась: «Если бы я родилась мужчиной, то покорила бы Европу. Родившись женщиной, я истощила энергию на споры с судьбой и эксцентричные выходки».</p>
				<div class="row pictures">

					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art35.jpg" width="100%">
						<p>«Автопортрет с палитрой»</p>
						<p>1882</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art36.jpg" width="100%">
						<p>«Жоржет»</p>
						<p>1881</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art34.jpg" width="100%">
						<p>«В студии. Мастерская Жюлиана»</p>
						<p>1881</p>
					</div>
				</div>

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p>Амели Бори-Сорель</p>

					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>

<p>Амели родилась и провела раннее детство в Испании. Художница мастерски владела искусством рисования пастелью. На одном из известных холстов под названием «Dans le bleu» изображена задумчивая женщина, которая пьет и курит. Ее работы получили множество наград, в том числе в 1889 и 1900 на Всемирных выставках.</p>
<p>Бори-Сорель вышла замуж за Родольфа Жюлиана, основателя известной академии, где стала учительницей в 1895 году. Амели смогла балансировать между своим творчеством и преподаванием, построив надежную карьеру. После смерти Родольфа в 1907 году Академией помогали управлять племянники Амели.</p>

				<div class="row pictures">
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art39.jpg" width="100%">
						<p>«Nos éclaireuses»</p>
						<p>Год неизвестен</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art37.jpg" width="100%">
						<p>«В тоске»</p>
						<p>1894</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art38.jpg" width="100%">
						<p>«Séverine»</p>
						<p>1893</p>
					</div>
				</div>

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p>Элизабет Норс</p>

					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>

<p>Норс родилась в Цинциннати, штат Огайо. Элизабет была одной из немногих женщин, допущенных в художественную академию. После того как ее родители умерли в 1882 году, она отказалась от возможности преподавать и переехала со своей сестрой Луизой в Нью-Йорк. Пять лет спустя сестры переехали в Париж, где Элизабет продолжила обучение.</p>
<p>Норс неоднократно бывала настоящей звездой на выставках. Ее автопортрет 1892 года, в котором изображен рабочий процесс, является прекрасной иллюстрацией силы и решительности, необходимой для достижения успеха в творческой сфере.</p>
<p>Знаменитая картина «Мать» дебютировала в Парижском салоне в 1888 году. Ее признали невероятно успешной. Картина была показана еще на пяти выставках в течение семи лет. В 1914 году она висела в кабинете Вудро Вильсона в Нью-Джерси, когда он был губернатором. Норс стала второй женщиной, признанной членом Société Nationale des Beaux-Arts.</p>
				<p>Знаменитая картина «Мать» дебютировала в Парижском салоне в 1888 году. Ее признали невероятно успешной. Картина была показана еще на пяти выставках в течение семи лет. В 1914 году она висела в кабинете Вудро Вильсона в Нью-Джерси, когда он был губернатором. Норс стала второй женщиной, признанной членом Société Nationale des Beaux-Arts.</p>
				<div class="row pictures">
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art40.jpg" width="100%">
						<p>«Мать»</p>
						<p>1888</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art41.jpg" width="100%">
						<p>«Автопортрет»</p>
						<p>1892</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art42.jpg" width="100%">
						<p>«Мать с дочкой»</p>
						<p>Год неизвестен</p>
					</div>
				</div>

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p>"Эллен Теслефф"</p>

					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>

<p>Эллен Теслефф родилась в Хельсинки и училась в частной финской художественной школе, начиная с 16 лет. По окончанию школы поступила в Академию изящных искусств Хельсинки.
Переехав в Париж в 1891 году, чтобы учиться в Академии Коларосси, она участвовала в создании финской группы Септем, которая позже принесла импрессионизм в скандинавскую страну. Ее картина «Эхо» была хитом на выставке 1891 года в Финском художественном обществе, критики назвали работу Эллен «прорывом».</p>
<p>Теслефф много путешествовала, выставляя свои работы во Флоренции, Париже, Стокгольме и Санкт-Петербурге. Она выиграла бронзовую медаль в 1900 г. на Всемирной выставке в Париже.
Теслефф была признана почетным членом Общества художников Финляндии и удостоилась медали Pro Finlandia, врученной лично президентом в 1951 году. Опять же, за пределами родной страны о художнице практически ничего не знают.</p>

				<div class="row pictures">
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art44.jpg" width="100%">
						<p>«Автопортрет со шляпой»</p>
						<p>1935</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art43.jpg" width="100%">
						<p>«Девушка с гитарой»</p>
						<p>1891</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art45.jpg" width="100%">
						<p>«Весна»</p>
						<p>1891</p>
					</div>
				</div>

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p>"Энни Хопф"</p>

					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>

<p>Энни Хопф родилась в Швейцарии и переехала в Париж в 1882 году. Она жила с другим швейцарским студентом, Оттилье Родерстейном, который, возможно, был ее любовником. Биография художницы остается в тайне. Известно только о ее выставках, обучении в столице Франции и профессорской деятельности в Берлинской академии искусств.</p>
<p>Несмотря на ограниченную информацию о карьере Хопф, ей удается поразить зрителя всего одним произведением под названием «Аутопсия». На ней изображено мертвое тело, лежащее на столе для вскрытия и стоящий над ним ученый. Историки смогли идентифицировать ученого, но как Энни получила доступ к вскрытию, остается загадкой.</p>
				<div class="row pictures">
					<div class="col-12 col-sm-6 col-md-4 col-item"></div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art46.jpg" width="100%">
						<p>«Аутопсия»</p>
						<p>1889</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item"></div>
				</div>
{% endblock %}