{% extends 'base.html' %}

{% block title %}
17 век
{% endblock %}

{% block body %}

<div class="wrapper custom-post-tpl" id="page-wrapper">

	<div class="container">
		<div class="row">
			<div class="col-12">
						<div class="row">
			<div class="col-12">
				<p id="breadcrumbs" class="breadcrumbs"><span><span><a href="/">Главная страница</a> » <span class="breadcrumb_last" aria-current="page">5 художниц XVII века</span></span></span></p></div>
		</div>
			</div>
		</div>
	</div>

	<div class="container section-title">
		<div class="row">
				<div class="intro">
					<p>5 ХУДОЖНИЦ XVII ВЕКА</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container section-content">
		<div class="row">
			<div class="col-12">

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p>Артемизия Джентилески </p>
					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>

<p>Артемизия Джентилески — символ борьбы женщины за право быть художником в Италии XVII века — стала первой женщиной, принятой в старейшую в Европе Академию изящных искусств во Флоренции. Самое узнаваемое произведение Джентилески «Юдифь, обезглавливающая Олоферна» изображает акт расправы целомудренной девы над мужчиной-врагом. Для Артемизии, пережившей в юном возрасте акт насилия, эта работа стала не только оммажем знаменитой картине Караваджо, но и способом справиться со своей детской травмой. О жизни Артемизии Джентилески было написано несколько книг, а в 1997 году французская режиссёр Аньес Мерле сняла по мотивам её биографии художественный фильм.</p>

				<div class="row pictures">

					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art1.jpg" width="100%">
						<p>«Автопортрет в виде аллегории живописи»</p>
						<p>1631</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art3.jpg" width="100%">
						<p>«Женщина играет на лютне»</p>
						<p>1632</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art2.jpg" width="100%">
						<p>«Венера и Купидон»</p>
						<p>1650</p>
					</div>
				</div>

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p> Элизабетта Сирани </p>

					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>

<p>Элизабетта Сирани прожила всего 27 лет,  однако за это время она смогла достичь в творчестве невероятных высот. Элизабетта не получила профессионального образования, поскольку доступ в Академию искусств для женщин был закрыт. Трудности сопровождали Элизабетту не только в учебе, но и в работе. В XVII веке женщин не воспринимали, как сколько-нибудь серьезных художников, они не могли сами брать заказы и заключать договоры. Однако, это не помешало Элизабетте. Она училась у своего отца, помогала ему, а в 15 лет уже выполняла заказы самостоятельно. Город Болонья в те времена отличался весьма прогрессивными нравами, в том числе и в отношении женщин, что положительно сказалось на становлении художницы.</p>
<p>Элизабетта Сирани – единственная женщина, включенная историком Карло Мальвазией в книгу, посвященную лучшим художникам Болоньи. Об уровне ее мастерства говорит тот факт, что знаменитую работу Элизабетты - «Портрет Беатриче Ченчи» много лет ошибочно приписывали Гвидо Рени, выдающемуся живописцу, у которого учился отец художницы - Андреа Сирани, а возможно и она сама.</p>
<p>Так случилось, что отец Элизабетты потерял способность работать из-за подагры, и в семнадцать лет девушка была вынуждена содержать большую семью. Она возглавила мастерскую отца, а в дальнейшем Элизабетте Сирани даже удалось открыть собственную школу, в которой она обучала живописи женщин.
Художница оставила около 200 произведений, находящихся сегодня в самых крупных музеях Европы и Америки. </p>
				<div class="row pictures">

					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art5.jpg" width="100%">
						<p>«Клеопатра»</p>
						<p>Год неизвестен</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art4.jpg" width="100%">
						<p>«Богородица с младенцем»</p>
						<p>1663</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art6.jpg" width="100%">
						<p>«Порция Катона ранит себя в бедро»</p>
						<p>1664</p>
					</div>
				</div>

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p>Мэри Бил</p>

					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>

<p>Мэри Бил считается первой англичанкой, которая профессионально занималась живописью. Ее отец был пуританским священником и художником-любителем, мать умерла, когда девочке было 10 лет.  До 1670-го года она занималась живописью эпизодически, но начиная с этого года художница становится популярной, получает много заказов. В это время сильное влияние на нее оказывало искусство сэра Питера Лели.</p>

				<div class="row pictures">

					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art7.jpg" width="100%">
						<p>«Портрет Франс Пьерпонт, графини Ньюкасл»</p>
						<p>Год неизвестен</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art8.jpg" width="100%">
						<p>«Портрет Мэри Визел Эндуэл»</p>
						<p>1670-е</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art9.jpg" width="100%">
						<p>«Портрет Джорджа Сэвила, первого маркиза Галифакс»</p>
						<p>1676</p>
					</div>
				</div>

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p>Рашель Рюйш</p>

					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>
<p>Мастерица цветочного натюрморта в голландскую золотую эру, первая женщина, принятая в Гильдию художников Гааги.</p>
<p>Особенности творчества художницы Рашель Рюйш: На протяжении 65 лет писала только цветочные натюрморты. Разбираясь в ботанике, добивалась поразительной точности в изображении растений. В XVII веке натюрморты в Голландии находились на пике популярности - была примерно сотня художников, и, несмотря на это, Рюйш удалось найти свой стиль, не потеряться и прославиться.</p>

				<div class="row pictures">

					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art11.jpg" width="100%">
						<p>«Розы, вьюнки маки и другие цветы в вазе на каменной полке»</p>
						<p>1680</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art10.jpg" width="100%">
						<p>«Персики, виноград и сливы с стрекозой, улиткой и гусеницей»</p>
						<p>1683</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art12.jpeg" width="100%">
						<p>«Опыление цветов»</p>
						<p>1690</p>
					</div>
				</div>

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p>Галиция Феде</p>

					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>

<p>Уже в 12 лет Феде рисовала так технично и талантливо, что удостоилась похвалы Ломаццо, художника и теоретика искусств. В юности у девушки хватало заказов на миниатюры, портреты и алтарные росписи католических храмов.</p>
<p>Позже Феде Галиция, талант которой ярко проявился в маньеризме, реализме и натурализме, вынужденно перешла на написание натюрмортов. Дело в том, что даже в продвинутой Италии к художницам относились с предубеждением и пренебрежением. Мастерицы с трудом находили модели даже для обычных портретов, а на создание женщинами рисунков с обнаженной натуры действовал строжайший запрет. Фрукты, овощи, цветы всегда были под рукой, к тому же с ними можно было работать достаточно долго, чтобы исправлять детали и совершенствовать полотно.</p>

				<div class="row pictures">

					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art13.jpg" width="100%">
						<p>«Вишни в серебряной чаше»</p>
						<p>1596</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art14.jpg" width="100%">
						<p>«Паоло Мориджиа»</p>
						<p>1590-е</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art15.jpg" width="100%">
						<p>«Юдифь с головой Олоферна (Автопортрет)»</p>
						<p>1596</p>
					</div>
				</div>

{% endblock %}