{% extends 'base.html' %}

{% block title %}
18 век
{% endblock %}

{% block body %}

<div class="wrapper custom-post-tpl" id="page-wrapper">

	<div class="container">
		<div class="row">
			<div class="col-12">
						<div class="row">
			<div class="col-12">
				<p id="breadcrumbs" class="breadcrumbs"><span><span><a href="/">Главная страница</a> » <span class="breadcrumb_last" aria-current="page">5 художниц XVIII века</span></span></span></p></div>
		</div>
			</div>
		</div>
	</div>

	<div class="container section-title">
		<div class="row">
				<div class="intro">
					<p>5 ХУДОЖНИЦ XVIII ВЕКА</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container section-content">
		<div class="row">
			<div class="col-12">

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p>Ангелика Кауфман </p>
					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>

<p>Среди сравнительно небольшого числа женщин-живописцев, имеющих мировую известность, Ангелике Кауфман (Angelika Kauffmann) принадлежит одно из первых мест. И даже если вам никогда ранее не приходилось слышать этого имени, с её произведениями вы наверняка визуально знакомы. Галантные сценки по мотивам античных мифов и библейских историй в своё время были так популярны, что им нашли применение в колоссальных масштабах: миниатюрами с картин Кауфман украшали посуду, шкатулки, мебель, обложки книг. Федот Шубин, самый крупный российский скульптор XVIII века, декорируя Мраморный дворец в Санкт-Петербурге, брал за образец гравюры с её произведений.</p>
				<p> Когда Кауфман изберут в члены флорентийской Академии художеств, ей будет всего 21; когда она получит членство Академии Св.Луки в Риме – неполных 25.</p>

				<div class="row pictures">

					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art16.jpg" width="100%">
						<p>«Пенелопа у ткацкого станка»</p>
						<p>1764</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art17.jpg" width="100%">
						<p>«Автопортрет»</p>
						<p>1780-е</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art18.jpg" width="100%">
						<p>«Безумная Мария»</p>
						<p>1780</p>
					</div>
				</div>

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p> Мэри Мозер </p>

					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>

				<p>Английская художница швейцарского происхождения. Была одной из самых известных женщин на британской художественной сцене XVIII века. Вместе с Ангеликой Кауфман она вошла в число основателей британской Королевской академии художеств: на протяжении последующих полутора веков Кауфман и Мозер оставались единственными женщинами, получившими в ней членство.</p>

				<div class="row pictures">

					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art19.jpg" width="100%">
						<p>«Натюрморт»</p>
						<p>Год неизвестен</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art20.jpg" width="100%">
						<p>«Композиция из цветов, в том числе гибискуса, колокольчиков, дельфиниума и настурции»</p>
						<p>1663</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art21.jpg" width="100%">
						<p>«Натюрморт с фонтаном»</p>
						<p>1664</p>
					</div>
				</div>

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p>Розальба Каррера</p>

					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>

<p>Итальянская художница венецианской школы. Происходила из небогатой семьи, достоверных сведений о годах ее учебы живописи и миниатюре нет. В первые десятилетия 18 века, в период распространения стиля рококо Розальба Каррера добилась заметных успехов в создании живописных миниатюр. В 1720-е, в годы расцвета своего таланта, Каррера Розальба работала в Париже, где вела дневники и обширную переписку, познакомилась с Ватто. В 1730-х годах Розальба проживала в Вене при дворе польского короля Августа Сильного, давала уроки живописи королеве. Вскоре вернулась в Венецию. К 1750-м годам Розальба Каррера потеряла зрение: две операции художнице не помогли, и она до конца своих дней осталась слепой.</p>

				<div class="row pictures">
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art23.jpg" width="100%">
						<p>«Кардинал Мельхиор де Полиньяк»</p>
						<p>1732</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art22.jpg" width="100%">
						<p>«Автопортрет с портретом сестры»</p>
						<p>1715</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art24.jpg" width="100%">
						<p>«Девушка с попугаем»</p>
						<p>1730</p>
					</div>
				</div>

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p>Элизабет Виже-Лебрен</p>

					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>

<p>Французскую портретистку XVIII века Элизабет Виже-Лебрен искренне обожала королева Мария-Антуанетта и до брезгливости терпеть не могла императрица Екатерина II. Почему – станет понятнее из биографии художницы.</p>
<p>Картины и рисунки Элизабет Виже обладали одним ценным качеством – с первого взгляда нравиться публике. К 16-ти годам она уже имела постоянных заказчиков, а затем не позволяла себе становиться менее востребованной профессионалкой за счет личностных качеств. </p>
<p>В 1801 году художница покидает Россию — как только ее имя усилиями семьи удалено из списка французских эмигрантов-невозвращенцев. Лебрен уезжает, совершив, как напишет графиня Варвара Николаевна Головина, «своими картинами переворот в модах», написав 67 портретов русской знати и укоренив в сознании дворян курс на «оттоманщину». </p>
				<div class="row pictures">
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art25.jpg" width="100%">
						<p>«Портрет мадам Гранд»</p>
						<p>Год неизвестен</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art26.jpg" width="100%">
						<p>«Автопортрет с палитрой»</p>
						<p>1790</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art27.jpg" width="100%">
						<p>«Автопортрет с дочерью»</p>
						<p>1789</p>
					</div>
				</div>

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p>Джулия Лама</p>

					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>

<p>Джулия Елизабетта Лама родилась в Венеции в семье художника Агостино Ламы. Ее другом детства был известный живописец Джованни Баттиста Пьяцетта, возможно, вместе с ним она училась у Антонио Молинари. Пьяцетта определенно оказал на нее сильное влияние, вероятно, они сотрудничали и позднее.</p>
<p>Джулия Лама (в духе позднего барокко и раннего рококо) нередко искажает пропорции и анатомию фигур, но это порой придает ее картинам большую выразительность.</p>
				<div class="row pictures">
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art30.jpg" width="100%">
						<p>«Сатурн, пожирающий своего сына»</p>
						<p>Год неизвестен</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art28.jpg" width="100%">
						<p>«Жертвоприношение Исаака»</p>
						<p>Год неизвестен</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/art29.jpg" width="100%">
						<p>«Юдифь и Олоферн»</p>
						<p>1740</p>
					</div>
				</div>

{% endblock %}