{% extends 'base.html' %}

{% block title %}
20 век
{% endblock %}

{% block body %}

<div class="wrapper custom-post-tpl" id="page-wrapper">

	<div class="container">
		<div class="row">
			<div class="col-12">
						<div class="row">
			<div class="col-12">
				<p id="breadcrumbs" class="breadcrumbs"><span><span><a href="/">Главная страница</a> » <span class="breadcrumb_last" aria-current="page">4 художницы XX века</span></span></span></p></div>
		</div>
			</div>
		</div>
	</div>

	<div class="container section-title">
		<div class="row">
				<div class="intro">
					<p>4 ХУДОЖНИЦЫ XX ВЕКА</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container section-content">
		<div class="row">
			<div class="col-12">

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p>Джорджия Тотто О’Киф </p>
					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>

<p>Американская художница-авангардистка, яркая представительница магического реализма. В 2014 году ее картина "Дурман" поставила ценовой рекорд среди произведений искусства, созданных женщинами. На торгах аукционного дома Sotheby's в Нью-Йорке эта картина ушла с молотка за $44,4 млн. Самая популярная тема Джорджии О’Киф - цветы. </p>
<p>Она изображает в форме цветов скрытую страсть - тревожную, дурманящую и хищную. Критики связывали образы художницы с сексуальными символами, анализируя ее картины в духе фрейдизма. Сама О'Киф всегда отрицала подобного рода интерпретации. Она утверждала, что ее цветы выражают чувственность, тонкую сущность природы и мироздания. Другим источником вдохновения Джорджии служила пустыня Нью-Мексико: художница изображала отполированные ветром кости животных, голые скалы и синее небо. </p>
				<div class="row pictures">

					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/brt2.jpg" width="100%">
						<p>«Тазовая кость и расстояние»</p>
						<p>1943</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/brt3.jpg" width="100%">
						<p>«Синяя и зеленая музыка»</p>
						<p>1919</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/brt1.png" width="100%">
						<p>«Черный ирис VI»</p>
						<p>1936</p>
					</div>
				</div>

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p> Фрида Кало </p>

					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>

<p>Известная мексиканская художница. В юности Фрида попала в автокатастрофу, которая наложила отпечаток на всю ее жизнь и сказалась на творчестве. Писать Кало начала, будучи прикованной к постели. Художница прославилась в Европе (в частности, благодаря своему мужу Диего Ривере), но всегда мечтала о признании на родине. Первая персональная выставка Фриды в Мексике состоялась в 1953 году, незадолго до ее смерти.</p>
<p>Особенности творчества художницы Фриды Кало: по большей части в своих символических работах Фрида рассказывает о себе – своих переживаниях, физической и душевной боли. Внушительную часть ее картин составляют автопортреты, на которых ее обычно окружают растения и животные. Кроме того, Фрида часто обращается к теме болезни и смерти.</p>
<p>"Я пишу себя, потому что много времени провожу в одиночестве и потому что являюсь той темой, которую знаю лучше всего".</p>
				<div class="row pictures">

					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/brt6.jpeg" width="100%">
						<p>«Автопортрет, посвященный доктору Элоессеру»</p>
						<p>1940</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/brt4.jpg" width="100%">
						<p>«Автопортрет с терновым ожерельем»</p>
						<p>1940</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/brt5.jpeg" width="100%">
						<p>«Самоубийство Дороти Хейл»</p>
						<p>1938</p>
					</div>
				</div>

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p>Наталия Гончарова</p>

					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>

<p>Наталия Гончарова занялась живописью по совету своего будущего мужа Михаила Ларионова. Художница писала в разных авангардистских стилях, вдохновлялась древнерусской и восточной культурой, поэтому ее творчество называли «всёчеством». В 1913 году выставка Гончаровой стала крупнейшей персональной экспозицией XX века и прославила художницу. А через два года она уехала в Европу создавать декорации для Дягилевских сезонов и осталась там навсегда.</p>

				<div class="row pictures">

					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/brt7.jpg" width="100%">
						<p>«Четыре Евангелиста»</p>
						<p>1911</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/brt8.jpg" width="100%">
						<p>«Кошки»</p>
						<p>1913</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/brt9.jpg" width="100%">
						<p>«Рябина. Панино близ Вязьмы»</p>
						<p>1908</p>
					</div>
				</div>

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p>Зинаида Серебрякова</p>

					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>

<p>Зинаида Серебрякова — русская художница из творческой династии Бенуа-Лансере-Серебряковых. Она училась живописи в школе Марии Тенишевой, в мастерской Осипа Браза и в парижской академии Гран-Шомье. Серебрякова стала одной из первых женщин, которых Академия художеств выдвинула на звание академика живописи.</p>

				<div class="row pictures">

					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/brt10.jpg" width="100%">
						<p>«Автопортрет»</p>
						<p>1930</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/brt11.jpg" width="100%">
						<p>«За завтраком»</p>
						<p>1683</p>
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/brt12.jpg" width="100%">
						<p>«Снежинки. Балет П. И. Чайковского "Щелкунчик"»</p>
						<p>1923</p>
					</div>
				</div>
			</div>
{% endblock %}