{% extends 'base.html' %}

{% block title %}
21 век
{% endblock %}

{% block body %}

<div class="wrapper custom-post-tpl" id="page-wrapper">

	<div class="container">
		<div class="row">
			<div class="col-12">
						<div class="row">
			<div class="col-12">
				<p id="breadcrumbs" class="breadcrumbs"><span><span><a href="/">Главная страница</a> » <span class="breadcrumb_last" aria-current="page">5 диджитал художниц XXI века</span></span></span></p></div>
		</div>
			</div>
		</div>
	</div>

	<div class="container section-title">
		<div class="row">
				<div class="intro">
					<p>5 ДИДЖИТАЛ ХУДОЖНИЦ XXI ВЕКА</p>
				</div>
			</div>
		</div>
	</div>

	<div class="container section-content">
		<div class="row">
			<div class="col-12">

<p>Современный мир изобразительного искусства совсем не ограничивается физическими галереями и выставками. Подавляющая часть работ на данный момент художницы выкладывают на свои сайты, добавляют в портфолио и заполняют ими аккакунты социальных сетей.</p>
				<p>Девушки создают портреты знаменитостей, фандомные иллюстрации, иллюстрации для книг, комиксы и многое другое.</p>


				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p> @loisvb </p>

					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>
				<div class="row pictures">

					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/d1.png" width="100%">
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/d2.png" width="100%">
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/d13.png" width="100%">
					</div>
				</div>

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p>@xodeadlina</p>

					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>
				<div class="row pictures">

					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/d3.png" width="100%">
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/d4.png" width="100%">
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/d5.png" width="100%">
					</div>
				</div>

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p>@happy_hamburg76</p>

					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>
		<div class="row pictures">

					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/d6.png" width="100%">
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/d7.png" width="100%">
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/d8.png" width="100%">
					</div>
				</div>

				<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p>@lomakina.space</p>

					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>
				<div class="row pictures">

					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/d9.png" width="100%">
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/d10.png" width="100%">
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/d11.png" width="100%">
					</div>
				</div>

								<div class="row quote">
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-10">
						<p>@artizblue</p>

					</div>
					<div class="col-12 col-lg-1"></div>
					<div class="col-12 col-lg-3"></div>
					<div class="col-12 col-lg-6">
						<div class="line"></div>
					</div>
				</div>
				<div class="row pictures">

					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/d12.png" width="100%">
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/d14.png" width="100%">
					</div>
					<div class="col-12 col-sm-6 col-md-4 col-item">
						<img src="/static/d15.png" width="100%">
					</div>
				</div>
{% endblock %}